/* Dirty Carrots Main Container */
.container {
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 40px 40px 50px;
    margin: auto;
}

.titleFlexbox {
    display: flex;
    align-items: end;
    position: relative;
    justify-content: flex-start;
    width: 100%;
}
  
.titleFlexbox img {
    display: block;
    width: 100px;
    transform: rotate(330deg) translate(-10px, 0);
    z-index: -1;
}
  

@media (min-width: 500px) {
    .container {
        padding: 60px 60px 50px;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 100px 60px 50px;
    }

    .titleFlexbox img {
        width: 150px;
        transform: rotate(315deg) translate(-20px, -20px);
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 70%;
        margin: inherit;
        padding: 150px;
    }

    .titleFlexbox img {
        width: 150px;
        transform: rotate(315deg) translate(20px,40px);
    }

    .titleFlexbox {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: start;
    }
}

@media (min-width: 1201px) {
    .container {
        max-width: 60%;
        margin: auto;
        padding: 150px;
    }

    .titleFlexbox img {
        width: 200px;
        transform: rotate(315deg) translate(20px,60px);
    }

    .titleFlexbox {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: start;
    }
}

