.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 100vh;
}

.main {
  padding: 2rem;
}

h1.title {
  font-size: 20vw;
  line-height: .8;
}
