.container {
  display: block;
  position: relative;
  margin: auto;
  min-height: 100vh;
  width: 100%;
}

.main {
  padding: 50px 50px;
}

.header {
  display: flex;
  align-items: end;
  position: relative;
  justify-content: flex-start;
  line-height: 100px;
  width: 100%;
}

.header img {
  margin-left: -15px;
  width: 110px;
  transform: rotate(321deg);
}

h1.title {
  font-size: 60px;
  line-height: .8;
  z-index: 1;;
}

.h2 {
  margin-top: 15px;
  font-size: 22px;
  margin-left: 4px;
  max-width: 400px;
}

.h3 {
  font-family: 'Abhaya Libre', serif;
  font-size: 24px;
}

.postLists {
  /* border: 1px solid purple; */
  border-top: 1px solid greenyellow;
  padding: 50px;
  font-size: 18px;
}

.postLists ul li {
  font-family: 'Abhaya Libre', serif;
  padding-bottom: 10px;
}

