.h1, .h2, .h3 {
    font-family: 'Abhaya Libre', serif;
}

.h1 {
    font-size: 60px;
    line-height: .7;
    z-index: 1;
    letter-spacing: 1px;
}

.h2 {
    margin-top: 15px;
    font-size: 22px;
    max-width: 400px;
}
  
.h3 {
    font-size: 22px;
}


@media (min-width: 768px) {
    .h1 {
        font-size: 100px;
        width: 100%;
    }

    .h2 {
        font-size: 28px;
        margin-top: 20px;
        max-width: 450px;
    }

    .h3 {
        font-size: 28px;
    }
}

@media (min-width: 1201px) {
    .h1 {
        font-size: 150px;
    }

    .h2 {
        font-size: 38px;
        margin-top: 20px;
        max-width: 650px;
    }

    .h3 {
        font-size: 38px;
    }
}